<h2>Sign in</h2>

<%= render :partial => '/sessions/form' %>

<ul>
  <li>
    <%= link_to "Sign up", sign_up_path %>
  </li>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>
