<h2><%= t '.title' %></h2>

<%= render :partial => '/sessions/form' %>

<ul>
  <li>
    <%= link_to t('.sign_up'), sign_up_path %>
  </li>

  <li>
    <%= link_to t('.forgot_password'), new_password_path %>
  </li>
</ul>
