pkg
*/rails_root/log/*.log
*/rails_root/db/*
*.DS_Store
*.swp
.rake_tasks
!test/rails_root/vendor/gems/justinfrench-formtastic-0.2.1
!.keep
*.gem
*/rails_root/app/views/passwords
*/rails_root/app/views/sessions
*/rails_root/app/views/users
*/rails_root/vendor/plugins/clearance
*/rails_root/features/*.feature
*/rails_root/features/password_reset.feature
*/rails_root/features/sign_in.feature
*/rails_root/features/sign_out.feature
*/rails_root/features/sign_up.feature
*/rails_root/features/step_definitions/clearance_steps.rb
*/rails_root/db/development.sqlite3
*/rails_root/db/migrate/20101220185807_clearance_create_users.rb
*/rails_root/db/schema.rb
*/rails_root/db/test.sqlite3
*/rails_root/log/development.log
*/rails_root/log/test.log
*/rails_root/vendor/plugins/clearance
*/rails_root/Gemfile.lock
*/rails_root/features/password_reset.feature
*/rails_root/features/sign_in.feature
*/rails_root/features/sign_out.feature
*/rails_root/features/sign_up.feature
*/rails_root/features/step_definitions/clearance_steps.rb
*/rails_root/test/factories/clearance.rb
