cache: bundler

language:
  - ruby

rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0

gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile

install:
  - "bin/setup"

branches:
  only:
    - master

matrix:
  exclude:
    - rvm: 2.4.9
      gemfile: gemfiles/rails_6.0.gemfile
