cache: bundler

language:
  - ruby

rvm:
  - 2.4.6
  - 2.5.5
  - 2.6.2

gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile

before_install:
  - gem update --system

install:
  - "bin/setup"

branches:
  only:
    - master

matrix:
  exclude:
    - rvm: 2.4.6
      gemfile: gemfiles/rails_6.0.gemfile

sudo: false
