<p><%= t(".opening") %></p>

<p>
  <%= link_to t(".link_text", default: "Change my password"),
    edit_user_password_url(@user, token: @password_reset.token) %>
</p>

<p><%= raw t(".closing") %></p>
