<p><%= t(".opening") %></p>

<p>
  <%= link_to t(".link_text", default: "Change my password"),
    url_for([@user, :password, action: :edit, token: @user.confirmation_token]) %>
</p>

<p><%= t(".closing") %></p>
