<p><%= t(".opening", time_limit: distance_of_time_in_words(@time_limit)) %></p>

<p>
  <%= link_to t(".link_text", default: "Change my password"),
    edit_user_password_url(@password_reset.user, token: @password_reset.token) %>
</p>

<p><%= raw t(".closing") %></p>
