<h2>Reset your password</h2>

<p>
  We will email you a link to reset your password.
</p>

<%= form_for :password, :url => passwords_path do |form| %>
  <div class='text_field'>
    <%= form.label :email, 'Email address' %>
    <%= form.text_field :email, :type => 'email' %>
  </div>

  <div class='submit_field'>
    <%= form.submit 'Reset password' %>
  </div>
<% end %>
