name: CI Tests

on:
  push:
    branches: "main"
  pull_request:
    branches: "*"

jobs:
  test:
    name: "Ruby ${{ matrix.ruby }}, Rails ${{ matrix.gemfile }}"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        gemfile:
          - "6.1"
          - "7.0"
          - "7.1"
          - "7.2"
        ruby:
          - "3.0.7"
          - "3.1.6"
          - "3.2.5"
          - "3.3.4"
        exclude:
          - gemfile: "7.2"
            ruby: "3.0.7"

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.gemfile }}.gemfile
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v4

      - name: "Install Ruby ${{ matrix.ruby  }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: "Reset app database"
        run: |
          bundle exec rake db:drop
          bundle exec rake db:setup

      - name: "Run tests"
        run: bundle exec rake
